.card-sun-container {
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 251, 185, 0.7);
    border-radius: 30px;
    padding: 1rem;
    align-items: center;
    color: #46445E;
    
}

.card-cloudy-container {
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: rgba(164, 193, 233, 0.74);
    border-radius: 30px;
    padding: 1rem;
    align-items: center;
    color: #14248A;
    
}


.temp-container {
    /* background-color: yellow; */
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.large-text {
    font-size: 5rem;
    line-height: 0.8;

}

.small-text {
    font-size: 0.8rem;
}

.sunrise-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.weather-container {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.weather-sun-container {
    display: flex;
    flex-direction: column;
    background-color: #FCFBB9;
    padding: 0.6rem;
    border-radius: 15px;
    align-items: center;
}

.weather-cloud-container {
    display: flex;
    flex-direction: column;
    background-color: #A4C1E9;
    padding: 0.6rem;
    border-radius: 15px;
    align-items: center;
}

.sub-text {
    font-size: 2.5rem;
}

.submed-text {
    font-size: 1.6rem;
}